<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>注册</title>
		<link rel="stylesheet" href="../../assets/css/relys/login.css">
	</head>
	<body>
		<div class="container" id="app">
			<div class="loginBox">
				<h3>注册</h3>
				<form id="loginForm">
					<div class="input-wrapper">
						<label>名称:</label>
						<input v-model="mingcheng" type="text" name="" placeholder="请输入名称">
					</div>
					<div class="input-wrapper">
						<label>销售总数:</label>
						<input v-model="xiaoshouzongshu" type="text" name="" placeholder="请输入销售总数">
					</div>
				</form>
				<a href="../login/login.html">已有账号？去登录</a>
				<button type="button" @click="userRegister">注册</button>
			</div>
		</div>
		<script src="../../assets/js/relys/jquery.js"></script>
		<script src="../../assets/js/relys/vue.js"></script>
		<script src="../../assets/js/api/api.js"></script>
		<script src="../../assets/js/api/defaultuser.js"></script>
			<script src="../../assets/js/validate.js"></script>
		<script type="text/javascript">
			var app = new Vue({
				el: "#app",
				data: {
					"mingcheng": "",
					"xiaoshouzongshu": "",
				},
				methods: {
					userRegister(){
					if(!isIntNumer(this.xiaoshouzongshu)){
						alert(`销售总数应输入整数`);
						return
					}
						var data = {
							"mingcheng": this.mingcheng,
							"xiaoshouzongshu": this.xiaoshouzongshu,
						}
						register('xiaoshoutongji', data, function(res){
							if(res.code==0){
								alert('注册成功')
								window.parent.location.href = '../login/login.html'
							}
						})
					}
				}
			})
		</script>
	</body>
</html>
